<h1>Square Calculation</h1>
<form action="/square/results">
<div><b>Enter a number </b><input id="num" text="text" name="num" 
placeholder="What number do you want to square?"></div>
<button>Calculate square</button>
</form>