<h1>Random Results</h1>
<p><dt>Minimum</dt><dd><%= @min %></dd></p>
<p><dt>Maximum</dt><dd><%= @max %></dd></p>
<p><dt>Random Number</dt><dd><%= number_with_precision(@r, :precision => 4) %></dd></p>
<p><a href="/random/new">Pick another random number</a></p>