<h1>Random Results</h1>
<p><b>Minimum</b><br><%= @min %></p>
<p><b>Maximum</b><br><%= @max %></p>
<p><b>Random Number</b><br><%= number_with_precision(@r, :precision => 4) %></p>
<p><a href="/random/new">Pick another random number</a></p>