<h1>Word Count Calculation</h1>
<form action="/word_count/results">
<div><b>Text </b><textarea id="user_text" text="text" name="user_text" 
placeholder="Enter some text"></textarea></div>
<div><b>Special word</b><input id="user_word" text="text" name="user_word" 
placeholder="Enter a particular word to count"></div>
<button>Process text</button>
</form>