<h1>Payment Calculation</h1>
<form action="/payment/results">
<div>
    <label for="apr">APR</label>
    <input id="apr" text="text" name="apr" placeholder="E.g. 5.42">
    <br>
    <label for="yrs">Number of years</label>
    <input id="yrs" text="text" name="yrs" placeholder="How many years to repay?">
    <br>
    <label for="principal">Principal</label>
    <input id="principal" text="text" name="principal" placeholder="How much principal?">
</div>
<button
>Calculate monthly payment</button>
</form>