<h1>Payment Calculation</h1>
<form action="/payment/results">
<div>
    <b>APR</b>
    <input id="apr" text="text" name="apr" placeholder="E.g. 5.42">
    <br>
    <b>Number of years</b>
    <input id="yrs" text="text" name="yrs" placeholder="How many years to repay?">
    <br>
    <b>Principal</b>
    <input id="pv" text="text" name="pv" placeholder="How much principal?">
</div>
<button>Calculate monthly payment</button>
</form>